@import './_fonts.sass';
@import './_colors.sass';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-roboto;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-style: none;
}

button,
input,
select,
textarea {
  font-family: $font-family-roboto;
  font-size: 100%;
  margin: 0;
}

button {
  overflow: visible;
  border: none;
  background: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

td {
  vertical-align: top;
}

ul,
ol {
  list-style: none;
}

.bold {
  font-weight: bold;
}

.c-pointer {
  cursor: pointer;
}

.sticky-header-handler {
  position: sticky;
  top: 60px;
}

.v-card-subtitle {
  opacity: 1;
}

#redbtndropdown {
  background-color: $main-red !important;
  width: 90%;
  margin: 0 auto;
  display: block;
}

#redstrongbtndropdown {
  background-color: $main-red-dark !important;
  width: 90%;
  margin: 0 auto;
  display: block;
}
